body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #fffff0;
    color: white;
    padding: 6px;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 10px auto;
}

td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

td:hover {
    background-color: #fffff0;
}
.image-forme, .image-objet {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.forme-container, .objet-container {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.case {
    width: 100px;
    height: 20px;
    margin-top: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: transparent;
}

.case:hover {
    background-color: #fffff0;
}
